<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <h1 class="text-center"><%= @market.address %></h1>
      <p>Nous sommes le <%= Time.now.strftime("%d/%m/%Y")%>, il est <%= Time.now.strftime("%H:%M")%> et la température est de <%= @market.temperature%> °C</p>
      <h2> Le vent souffle à <%= @market.wind.round(0)%> Km/h</h2>
      <br>

      <h3>Conseils: <%= clothing(@market.temperature) %></h3>
        <div class="row">
          <div class="col-xs-6">
            <h2>Longitude: <%= @market.longitude %></h2>
          </div>
          <div class="col-xs-6">
             <h2>Latitude :<%= @market.latitude %></h2>
          </div>
        </div>
    </div>
  </div>
</div>
